<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lucas Fassi</title>
    <link rel="stylesheet" href="/fassi-portfolio/static/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <!-- Barra de navegação -->
      <nav class="nav-bar">
        <a href="/fassi-portfolio/templates/index.html" class="logo">
          <img
            src="/fassi-portfolio/static/imgs/lfassilogo-blackbg.png"
            alt="Logo-img"
          />
        </a>
        <ul class="nav-list">
          <li class="nav-item"><a href="#">Blog</a></li>
          <li class="nav-item"><button>Theme</button></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- Section q tem minha foto e uns textinho -->
      <section class="info">
        <div class="info-content">
          <h1 class="info-content-title">
            Hi! I am <span class="highlight">Lucas</span>, <br />
            a <span class="highlight">Full-Stack</span> dev<span
              class="blinking"
              >_</span
            >
          </h1>
          <!-- Lembrar de deixar a underline dps do dev piscando (como se pudesse digitar), com JS -->
          <p class="info-content-text">
            I'm a passionate Full-Stack developer with experience in both
            front-end and back-end, always seeking new challenges to grow and
            contribute to impactful projects.
          </p>
          <button class="contact-me-btn">Contact Me</button>
        </div>
        <img
          src="/fassi-portfolio/static/imgs/myself.png"
          alt="Lucas Fassi"
          class="info-img"
        />
      </section>
      <!-- Essa section tem as tecnologias q eu uso (adicionar icones devicon) -->
      <section class="lang-and-tech">
        <h2 class="lang-and-tech-title">Languages and Technologies:</h2>
        <ul class="lang-and-tech-list">
          <li class="lang-and-tech-item">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
            />
          </li>
          <li class="lang-and-tech-item">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
            />
          </li>
          <li class="lang-and-tech-item">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
            />
          </li>
          <li class="lang-and-tech-item">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
            />
          </li>
          <li class="lang-and-tech-item">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original-wordmark.svg"
            />
          </li>
          <li class="lang-and-tech-item">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
            />
          </li>
          <li class="lang-and-tech-item">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain-wordmark.svg"
            />
          </li>
          <li class="lang-and-tech-item">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg"
            />
          </li>
          <li class="lang-and-tech-item">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/windows8/windows8-original.svg"
            />
          </li>
        </ul>
      </section>
    </main>
    <script src="/fassi-portfolio/scripts/script1.js"></script>
  </body>
</html>
